# Normalize line endings
* text=auto

# Explicitly declare text files that should always be LF
*.cpp text eol=lf
*.hpp text eol=lf
*.h text eol=lf
*.c text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf

# Denote binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.dll binary
*.lib binary
*.so binary
*.dylib binary
